= form_for @sensor do |f|
  - if @sensor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sensor.errors.count, "error")} prohibited this sensor from being saved:"
      %ul
        - @sensor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :current_reading
    = f.text_field :current_reading
  .actions
    = f.submit 'Save'
